---
import Layout from "@/layouts/Layout.astro"
import { SITE_CONFIG } from "@/data/site"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeDots from "@/components/icons/CodeDots.astro"
import Experience from "@/components/Experience.astro"
import UserHeart from "@/components/icons/UserHeart.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TechStack from "@/components/TechStack.astro"
import MigrationPipeline from "@/components/MigrationPipeline.astro"
import Achievements from "@/components/Achievements.astro"
import Contact from "@/components/Contact.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout title={SITE_CONFIG.title} description={SITE_CONFIG.description}>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          Work Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>
          <CodeDots class="size-7" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="stack">
        <TitleSection>
          <CodeDots class="size-7" />
          Stack
        </TitleSection>
        <TechStack />
      </SectionContainer>

      <SectionContainer id="modernization">
        <TitleSection>
          <CodeDots class="size-7" />
          Modernization Pipeline
        </TitleSection>
        <MigrationPipeline />
      </SectionContainer>

      <SectionContainer id="achievements">
        <TitleSection>
          <CodeDots class="size-7" />
          Achievements
        </TitleSection>
        <Achievements />
      </SectionContainer>

      <SectionContainer id="about">
        <TitleSection>
          <UserHeart class="size-8" />
          About Me
        </TitleSection>
        <AboutMe />
      </SectionContainer>

      <SectionContainer id="contact">
        <TitleSection>
          <UserHeart class="size-8" />
          Contact
        </TitleSection>
        <Contact />
      </SectionContainer>
    </div>
  </main>
</Layout>
